@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

body {
  margin: 0%;
  padding: 0%;
  background: linear-gradient(to bottom, #1d1239 0%, #693dd9 80%);
  background-attachment: fixed;
}

button {
  cursor: pointer;
  color: #100a21;
}

.fa-circle,
.fa-circle-check {
  font-size: 1.6rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.fa-trash-can {
  margin-left: auto;
  cursor: pointer;
}

.fa-trash-can:hover {
  color: #1f1340;
}
